/*Frank Ngalle*/

*{box-sizing: border-box; }

body {
    
    background-color: #EAEAEA;
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
  
}

#wrapper {
   
    background-color: #90C7E3;
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    background-repeat: no-repeat;
}

table { 
    border: 2px solid #3399CC;
    border-collapse: collapse;
}
td, th { 
    padding: 0.5em;
    border: 2px solid #3399CC;
}
td{ text-align: center;}
.text { text-align: left;}
tr:nth-of-type(odd) { background-color: #F5FAFC;}


header {
    background-color: #97b6ff;
    background-position: right ;
    background-repeat: no-repeat ;
    block-size: 55px;
    text-align: center;
  
}
    
    

h1 {

  font-family: Georgia, 'Times New Roman', Times, serif;
  
  letter-spacing: 0.25em;
  margin-top: 0.5px; 
  margin-bottom: 0.5px ; 
}
h2 {
    color:#1976D2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px #CCCCCC;
}
h3 {
    color: #000033;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    
    font-weight: bold;
    padding: 0px;
    font-size: 120%;
    text-align: center;
    margin-left: 350px;
   
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;}
nav li { border-bottom: 1px solid #000033;}
nav a { text-decoration: none;}
nav a:link {color: #5C7FA3;}
nav a:visited {color: #344873;}
nav a:hover {color: #A52A2A}


main {
        padding: 1px 20px 20px 20px;

padding-left: 30px;
display: block;
background-color: rgb(255, 255, 255);
overflow: auto;
}


main ul {
    list-style-image: url(marker.gif);
}

dt {
    color: #002171;
}


footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 12em ;
}

#homehero {
height: 300px;
background-image: url(img/Hero.png);
background-repeat: repeat;
background-size: 100% 100%;
}

#ideahero {
    height: 450px;
    background-image: url(img/ideas.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: auto;
    }

#codinghero {
    height: 450px ;
    background-image: url(img/coding.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 50px;
}

@media (min-width: 600px)  {
    nav ul { display:flex;
        flex-flow: row nowrap;
        justify-content: space-around;}
    nav li {border-bottom: none;}
    section { padding-left: 2em;
              padding-right: 2em;}
              .content main {display: grid;
              grid-template-rows: auto;
              grid-template-columns: 1fr 1fr 1fr;}
              h2 { grid-row: 1 / 2; grid-column: 1 / 5 ; } 
              section { grid-row: 2 /3; grid-column: auto ;} 
              #special {grid-row: auto; grid-column: 1 / 5;} 
              footer { grid-row:auto; grid-column: 1 / 5;} 
              form { display: grid;
                grid-gap: 1em; gap: 1em;
                grid-template-columns: 6em 1fr;
                grid-template-rows: auto;
			  width: 60%;} 
                input[type="submit"] { grid-column: 2 / 3; 
                width: 9em;}
}

@media (min-width: 1024px)  {
    nav ul { display:flex;
        flex-flow: column;
        padding-top: 1em; }
    nav {text-align: left;
         padding-left: 1em;}
    #wrapper { margin: auto;
               width: 80%;
               border: 1px solid #000033;
               box-shadow: 1px 1px #000033;
               display: grid;
               grid-template-columns: 180px auto ;
               grid-template-rows: auto;}
  
    header { grid-row: 1 / 2; grid-column: 1 / 3;}
    nav    {grid-row: 2 / 5; grid-column: 1 / 2;}
    div    {grid-row: 2 / 3; grid-column: 2 / 3;}
    main { grid-row: 3 / 4; grid-column: 2 / 3;}
    footer { grid-row: 4 / 5; grid-column: 2 / 3;}
}